/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Poppins&display=swap');

/* Resetting default margin and padding for all elements */
*{
  margin: 0;
  padding: 0;
}

/* Styling for the body element */
body{
  min-height: 100vh;
  user-select: none;
  overflow-x: hidden;
}

/* Styling for the scrollbar track */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

/* Styling for the scrollbar itself */
body::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

/* Styling for the scrollbar thumb */
body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/* Styling for elements with class 'heading-font' */
.heading-font{
  font-family: 'Poppins', sans-serif;
}

/* Styling for elements with class 'content-font' */
.content-font{
  font-family: 'Inter Tight', sans-serif;
}